<% layout('layouts/boilerplate') -%>

<body>
    <br><br>
    <h3 style="text-align: center;">Edit this Listing </h3>
    <div class="row">
        <div class="col-8 offset-2">
            <form method="POST" action="/listings/<%=listing._id%>?_method=PUT">
            <div class="title mb-2 col">
            <label for="title" class="form-label">Title</label>
            <input class="form-control" name="Listing[title]" value='<%=listing.title%>' placeholder="Enter title" type="text">
            </div>
            <div class="description mb-2 col">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" name="Listing[description]" placeholder="Enter description"><%=listing.description%></textarea>
            </div>
            <div class="image mb-2 col">
                <label class="form-label" for="image">Image</label>
                <input class="form-control" name="Listing[image][url]" value='<%=listing.image.url%>' placeholder="Enter image URL" type="text">
            </div>
            <div class="row">
                <div class="price mb-2 col-md-4">
                    <label class="form-label" for="price">Price</label>
                    <input class="form-control" name="Listing[price]" value='<%=listing.price%>' placeholder="Enter price" type="number">
                </div>
                <div class="country mb-2 col-md-8">
                    <label class="form-label" for="country">Country</label>
                    <input class="form-control" name="Listing[country]" value='<%=listing.country%>' placeholder="Enter country" type="text">
                </div>
            </div>
            <div class="location mb-2 col">
            <label class="form-label" for="location">Location</label>
                <input class="form-control" name="Listing[location]" value='<%=listing.location%>' placeholder="Enter location" type="text">
            </div>
            <br>
            <br>
            <button class="btn btn-dark">Edit</button>
            <br>
            <br>
            <br>
        </form>
    </div>
        </div>
    
</body>
